{% extends 'base.html' %}

{% block title%}
<title>Aboout</title>
{% endblock %}


{% block links%}
<link rel="icon" href="{{ url_for('static', filename='/images/favicon.ico') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}


{% block body%}
    <section class="section">
        <div class="container">
            <div class="faq_block"
        </div>
    </section>
{% endblock %}